# Individual Project 2

**Author:** Katie Zopff  
**Version:** 1.0  
**Semester:** Spring 2021  
**Summary:** In this notebook, I read a csv file and edit and format it in in different ways to demonstrate the different features/functions of Pandas.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import scipy.stats as stats

**1.)** To read the data file into a dataset:

In [2]:
df = pd.read_csv('weather_2012.csv')

**2.)** Using the head, tail, and sample functions to display the first five, last five, and a random sample of five rows from the dataset

In [3]:
df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [4]:
df.tail()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [5]:
df.sample(5)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
821,2/4/2012 5:00,-8.1,-13.3,66,15,25.0,102.21,Mainly Clear
807,2/3/2012 15:00,-2.9,-7.8,69,19,19.3,102.25,Snow
149,1/7/2012 5:00,-6.9,-9.7,80,4,19.3,100.12,Cloudy
7510,11/8/2012 22:00,-0.3,-4.8,72,11,25.0,101.21,Mainly Clear
5203,8/4/2012 19:00,30.8,19.2,50,20,24.1,101.23,Mainly Clear

**3.)** To display a list of all of the column names:

In [6]:
df.columns

Index(['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather'],
      dtype='object')

**4.)** Renaming all of the column names. Also, saving the original column names into a list for later use.

In [7]:
df.columns = ['date_time', 
             'temp_c',
             'dew_point',
             'relative_humidity',
             'wind_speed',
             'visibility',
             'pressure',
             'weather']

In [8]:
original_columns = ['Date/Time', 
                    'Temp (C)', 
                    'Dew Point Temp (C)', 
                    'Rel Hum (%)',
                    'Wind Spd (km/h)', 
                    'Visibility (km)', 
                    'Stn Press (kPa)', 
                    'Weather']

**5.)** Using the describe function to get some standard statistics for each column

In [9]:
df.describe()

,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000

**6.)** Using a for loop, the conversion of the temp_c values to farenheit is saved to a new list temp_f, which is made into a new column in the dataframe.

In [10]:
temp_fx = []
for i in df['temp_c']:
    newtemp = (i*(9/5))+32
    temp_fx.append(newtemp)

In [11]:
df['temp_f'] = temp_fx

**7.)** Rearranging the order of the columns by making a list of the column names in the desired order and setting it equal to the dataframe.

In [12]:
df.columns

Index(['date_time', 'temp_c', 'dew_point', 'relative_humidity', 'wind_speed',
       'visibility', 'pressure', 'weather', 'temp_f'],
      dtype='object')

In [13]:
new_order = ['date_time',
             'temp_f', 
             'temp_c', 
             'dew_point', 
             'relative_humidity', 
             'wind_speed',
            'visibility',
             'pressure', 
             'weather', ]

In [14]:
df = df[new_order]

In [15]:
df.columns

Index(['date_time', 'temp_f', 'temp_c', 'dew_point', 'relative_humidity',
       'wind_speed', 'visibility', 'pressure', 'weather'],
      dtype='object')

**8.)** To display the data types of all the columns in the dataset:

In [16]:
df.dtypes

date_time             object
temp_f               float64
temp_c               float64
dew_point            float64
relative_humidity      int64
wind_speed             int64
visibility           float64
pressure             float64
weather               object
dtype: object

**9.)** To convert date_time into a datetime value:

In [17]:
df.date_time = pd.to_datetime(df.date_time)

In [18]:
df.dtypes

date_time            datetime64[ns]
temp_f                      float64
temp_c                      float64
dew_point                   float64
relative_humidity             int64
wind_speed                    int64
visibility                  float64
pressure                    float64
weather                      object
dtype: object

**10-14.)** Creating a new dataframe with the average temperature for each month. I did so by first creating a dictionary with the datetime timestamps as the keys and their corresponding months, temperatures, and month names as the values. Then, I created an empty dataframe monthly_avg and added each month name and average temperature value to the dataframe.  
  
By making the dictionary, I was also able to add the month column and make it show the name of the month instead of the number in this one step.

In [19]:
date_temp = {}
for i, k in zip(df.date_time, df.temp_f):
    date_temp[i] = [i.strftime("%m"), k, i.strftime("%B")]

In [76]:
monthly_avg = pd.DataFrame(columns=['Month', 'Average Temperature'])

months = sorted(list(set([x[0] for x in date_temp.values()])))
for i in months:
    total = 0
    count = 0
    for j in date_temp:
        if date_temp[j][0]==i:
            total = total + date_temp[j][1]
            count = count + 1
            if count==1:
                month = date_temp[j][2]
    newdata = pd.Series(data=[month, total/count], index=monthly_avg.columns)
    monthly_avg = monthly_avg.append(newdata, ignore_index=True)

monthly_avg.head(12)

        Month  Average Temperature
0     January            18.731290
1    February            24.395000
2       March            37.618226
3       April            44.616750
4         May            61.227984
5        June            68.241250
6        July            73.022097
7      August            72.102742
8   September            61.672000
9     October            51.718952
10   November            33.676500
11   December            26.048629

**15-17.)** Creating a new dataframe with the average temperature for each hour. I did this similar to how I did the monthly averages: by making a dictionary, creating an empty dataframe, and adding the average temperature to the dataframe. 

I also added the standard time to the index in this step.

In [63]:
time_temp = {}
for i, k in zip(df.date_time, df.temp_f):
    time_temp[i] = [i.strftime("%H"), k, i.strftime("%I"+":00 "+"%p")]

In [86]:
hourly_avg = pd.DataFrame(columns=['Average Temperature'])
hourly_avg.index.name = 'Hour'

hours = sorted(list(set([x[0] for x in time_temp.values()])))
for i in hours:
    total = 0
    count = 0
    for j in time_temp:
        if time_temp[j][0]==i:
            total = total + time_temp[j][1]
            count = count + 1
            if count==1:
                hour = time_temp[j][2]
    newdata = pd.Series(data=[total/count], index=hourly_avg.columns, name=hour)
    hourly_avg = hourly_avg.append(newdata)
    
    
hourly_avg.head(24)

          Average Temperature
Hour
12:00 AM            45.623443
01:00 AM            44.762787
02:00 AM            43.980820
03:00 AM            43.325246
04:00 AM            42.744426
05:00 AM            42.291967
06:00 AM            42.859508
07:00 AM            43.831311
08:00 AM            45.280656
09:00 AM            46.987213
10:00 AM            48.699672
11:00 AM            50.193770
12:00 PM            51.541803
01:00 PM            52.508689
02:00 PM            53.196721
03:00 PM            53.391475
04:00 PM            53.178033
05:00 PM            52.297705
06:00 PM            51.181311
07:00 PM            50.041311
08:00 PM            48.848197
09:00 PM            47.851803
10:00 PM            47.064918
11:00 PM            46.397049

**18.)** Getting a count of the different weather designations in the weather column using groupby and count:

In [93]:
df.weather.groupby(df.weather).count()

weather
Clear                                      1326
Cloudy                                     1728
Drizzle                                      41
Drizzle,Fog                                  80
Drizzle,Ice Pellets,Fog                       1
Drizzle,Snow                                  2
Drizzle,Snow,Fog                             15
Fog                                         150
Freezing Drizzle                              7
Freezing Drizzle,Fog                          6
Freezing Drizzle,Haze                         3
Freezing Drizzle,Snow                        11
Freezing Fog                                  4
Freezing Rain                                14
Freezing Rain,Fog                             4
Freezing Rain,Haze                            2
Freezing Rain,Ice Pellets,Fog                 1
Freezing Rain,Snow Grains                     1
Haze                                         16
Mainly Clear                               2106
Moderate Rain,Fog                             1
Moderate Snow                                 4
Moderate Snow,Blowing Snow                    2
Mostly Cloudy                              2069
Rain                                        306
Rain Showers                                188
Rain Showers,Fog                              1
Rain Showers,Snow Showers                     2
Rain,Fog                                    116
Rain,Haze                                     3
Rain,Ice Pellets                              1
Rain,Snow                                    18
Rain,Snow Grains                              1
Rain,Snow,Fog                                 1
Rain,Snow,Ice Pellets                         4
Snow                                        390
Snow Pellets                                  1
Snow Showers                                 60
Snow Showers,Fog                              4
Snow,Blowing Snow                            19
Snow,Fog                                     37
Snow,Haze                                     5
Snow,Ice Pellets                              6
Thunderstorms                                 2
Thunderstorms,Heavy Rain Showers              1
Thunderstorms,Moderate Rain Showers,Fog       1
Thunderstorms,Rain                            3
Thunderstorms,Rain Showers                   16
Thunderstorms,Rain Showers,Fog                3
Thunderstorms,Rain,Fog                        1
Name: weather, dtype: int64

**19.)** Getting a list that contains each unique value in the weather column by creating an empty set, separating all the values from the weather columns, and adding them to the empty set. Then, I converted the set to a list.

In [108]:
weathers = set()
for i in df.weather:
    new = i.split(',')
    for k in new:
        weathers.add(k)
weathers = list(weathers)

In [109]:
weathers

['Snow',
 'Cloudy',
 'Snow Showers',
 'Heavy Rain Showers',
 'Haze',
 'Freezing Rain',
 'Freezing Fog',
 'Mostly Cloudy',
 'Mainly Clear',
 'Snow Pellets',
 'Rain',
 'Moderate Rain',
 'Blowing Snow',
 'Moderate Snow',
 'Clear',
 'Snow Grains',
 'Moderate Rain Showers',
 'Ice Pellets',
 'Drizzle',
 'Fog',
 'Rain Showers',
 'Thunderstorms',
 'Freezing Drizzle']

**20.)** Sorting the list of unique weather values alphabetically using the sorted() function:

In [118]:
sorted(weathers)

['Blowing Snow',
 'Clear',
 'Cloudy',
 'Drizzle',
 'Fog',
 'Freezing Drizzle',
 'Freezing Fog',
 'Freezing Rain',
 'Haze',
 'Heavy Rain Showers',
 'Ice Pellets',
 'Mainly Clear',
 'Moderate Rain',
 'Moderate Rain Showers',
 'Moderate Snow',
 'Mostly Cloudy',
 'Rain',
 'Rain Showers',
 'Snow',
 'Snow Grains',
 'Snow Pellets',
 'Snow Showers',
 'Thunderstorms']

**21.)** Renaming the columns with their original names, plus renaming the new column temp_f to Temp (F).

In [114]:
df.columns = ['Date/Time', 
                    'Temp (F)',
                    'Temp (C)', 
                    'Dew Point Temp (C)', 
                    'Rel Hum (%)',
                    'Wind Spd (km/h)', 
                    'Visibility (km)', 
                    'Stn Press (kPa)', 
                    'Weather']

In [115]:
df.columns

Index(['Date/Time', 'Temp (F)', 'Temp (C)', 'Dew Point Temp (C)',
       'Rel Hum (%)', 'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)',
       'Weather'],
      dtype='object')

**22.)** To save the dataset to a new file (not containing the index column):

In [116]:
df.to_csv('weather_2012_new.csv', index=False)

**23.)** To save the monthly_avg and hourly_avg datasets to new files for future use:

In [117]:
monthly_avg.to_csv('monthly_avg.csv')
hourly_avg.to_csv('hourly_avg.csv')